.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: #19A2AE;
  width: 100vw;
  height: 100vh;
  position: fixed; top: 0; left: 0;
}

.botton{
  position: absolute;
  right: 0px;
  bottom: 0%;
  width: 50%;
  height: 50%;
}

.top{
  position: absolute;
  left:-15%;
  top: -50%;
  width: 50%;
  height: 50%;
}